<div class="comment">
    <li>
        <ul id="comments">
            <span>Comments</span>
            <li class="cmmnt">
                <div class="avatar"><img id="profilepicture" class="cropcircle"></div>
                <div class="cmmnt-content">
                    <input type="text" name="comment" placeholder="Share your thoughts">
                    <input type="submit" class="btn btn-small" name="submit" id="submit" value="Post"/>
                </div>
            </li>
            <li class="cmmnt">
                <div class="avatar"><img id="profilepicture" class="cropcircle"></a></div>
                <div class="cmmnt-content">
                    <header><a href="" class="userlink">Emma</a> - <span class="pubdate">posted 1 week ago</span>
                    </header>
                    <p>Test blabla</p>
                </div>
            </li>
            <ul class="replies">
                <li class="cmmnt">
                    <div class="avatar"><img id="profilepicture" class="cropcircle"></a></div>
                    <div class="cmmnt-content">
                        <header><a href="" class="userlink">Xyz</a> - <span class="pubdate">posted 1 day ago</span>
                        </header>
                        <p>Test blabla</p>
                    </div>
                </li>
            </ul>
        </ul>
    </li>
</div>
<div id='dv1' class="comment">
    <form ng-controller="CommentsController">
        Post your Comment
        <form ng-controller="CommentsController">
            <textarea ng-model="txtcomment" placeholder="Your Comment" style='width:450px'></textarea>
            <button ng-click='btn_add();' style='margin-top:10px;'>Post Comment</button>

            <h4>Comments</h4>
            <ul>
                <li class='cmmnt' ng-repeat="comnt in comment"> {{ comnt }} <a style="float: right;" href=""
                                                                 ng-click="remItem($index)">x</a></li>
            </ul>
        </form>
    </form>
</div>

<script type="text/javascript">
    function CommentsController($scope) {
        $scope.comment = [];
        $scope.btn_add = function () {
            if ($scope.txtcomment != '') {
                $scope.comment.push($scope.txtcomment);
                $scope.txtcomment = "";
            }
        }

        $scope.remItem = function ($index) {
            $scope.comment.splice($index, 1);
        }
    }
</script>
