<div class="comment">
    <li>
        <ul id="comments">
            <span>Comments</span>
            <li class="cmmnt">
                <div class="avatar"><img id="profilepicture" class="cropcircle"></div>
                <div class="cmmnt-content">
                    <input type="text" name="comment" placeholder="Share your thoughts">
                    <input type="submit" class="btn btn-small" name="submit" id="submit" value="Post"/>
                </div>
            </li>
            <li class="cmmnt">
                <div class="avatar"><img id="profilepicture" class="cropcircle"></a></div>
                <div class="cmmnt-content">
                    <header><a href="" class="userlink">Emma</a> - <span class="pubdate">posted 1 week ago</span>
                    </header>
                    <p>Test blabla</p>
                </div>
            </li>
            <ul class="replies">
                <li class="cmmnt">
                    <div class="avatar"><img id="profilepicture" class="cropcircle"></a></div>
                    <div class="cmmnt-content">
                        <header><a href="" class="userlink">Xyz</a> - <span class="pubdate">posted 1 day ago</span>
                        </header>
                        <p>Test blabla</p>
                    </div>
                </li>
            </ul>
        </ul>
    </li>
</div>
