.darkMain {
    color: hsl(176, 73%, 12%);
}
.color-2 {
    color: hsl(176, 74%, 23%);
}
.color-3 {
    color: hsl(176, 74%, 35%);
}
.color-4 {
    color: hsl(176, 74%, 37%);
}
.color-5 {
    color: hsl(347, 100%, 70%);
}
.color-6 {
    color: hsl(346, 100%, 94%);
}
.color-7 {
    color: hsl(347, 100%, 96%);
}
.color-8 {
    color: hsl(340, 100%, 99%);
}
