.rating {
    /*float: left;*/
    margin-top: 50px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
/***************************
Hide radio buttons
***************************/
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}
/***************************
Default stars style
***************************/
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
/***************************
Adds the star symbol to the labels
***************************/
.rating:not(:checked) > label:before {
    content: '★';
}
/***************************
Colour for the applied rating stars
***************************/
.rating > input:checked ~ label {
    color: #f70;
}
/***************************
Colour for hovered stars when increasing the rating
***************************/
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}
/***************************
Colour for hovered stars when decreasing the rating
***************************/
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

fieldset {
    padding: .35em .625em .75em;
}
