<main>

    <!-- ============================================================= SECTION – SELECTED WORKS ============================================================= -->

    <section id="selected-works" class="light-bg img-bg-softer search-section" style="background-image: url(/UI/assets/images/art/skyline-buildings-new-york-skyscrapers.jpg);">
        <div class="container inner">
            <div class="col-md-5 col-sm-10 center-block text-center">
                <form id="search" class="navbar-form" role="search">
                    <input type="search" class="form-control" placeholder="type keyword(s)">
                    <button type="submit" class="btn btn-default btn-submit">Search</button>
                </form>
            </div><!-- /.col -->

        </div><!-- /.container -->

    </section>

    <!-- ============================================================= SECTION – SELECTED WORKS : END ============================================================= -->


    <!-- ============================================================= SECTION – CLIENTS ============================================================= -->


    <section id="selected-works_" class="light-bg">
        <div class="container inner">

            <div class="row">
                <div class="col-md-10 col-sm-10 center-block text-center">
                    <header>
                        <h1>Recently added trips</h1>
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->

</main>
