<login>

<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form>
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <button class="btn-lg btn-block" (click)="doLogin()" name="login" >Login</button>
                <button class="btn-lg btn-block" (click)="doLogin()" name="login" >Login with google</button>
                <button class="btn-lg btn-block" (click)="facebookLogin()" name="login" >Login with facebook</button>
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>


</login>