

fieldset {
	margin: 30px auto;
	width: 500px;
	padding: 8px 15px 15px 15px;
	display: block; /* IE 7 Requires This */
	font-size: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}
legend {
	padding: 4px 6px 4px 6px;
	border: 0px;
	font-size: 2.0em;
}

.results-bar {
	padding: 10px;
	color: white;
/*	background: url(images/result-bar-bg.png) left center;*/
	white-space: nowrap;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 15px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.btn-submit {
	width: 100%;
}

.radio label {
    min-height: 20px;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.radio input[type=radio], .radio-inline input[type=radio]{
    position: absolute;
    margin-top: 4px \9;
    margin-left: -40px
}

.icon-small {
    font-size: 18;
}

.inner-bottom-xs {
     padding-bottom: 0px;
}

.format-gallery  {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
