<section id="search" class="light-bg img-bg-softer body">
    <h1 class="center-block text-center" style="width: 50%; margin-left: auto; margin-right: auto; color: #052421">Search</h1>
    <div class="container search_box">
        <div class="row inner-bottom-xs">
            <div class="column-sm-10">
                <div class="col-md-10 col-sm-12 center-block text-center">
                    <form #searchForm="ngForm" id="searchForm" class="navbar-form" role="search" (ngSubmit)="search()">
                        <input type="text" [(ngModel)]="searchModel.searchTerm" id="searchTerm"
                               placeholder="type in keyword(s)"/>
                        <input [(ngModel)]="searchModel.budget" type="number" id="searchBudget"
                               placeholder="maximum budget" style="width: 200px">
                        <select class="selectableList" [(ngModel)]="searchModel.month" id="searchMonth"
                                style="width: 200px">
                            <option disabled selected>Select a month ...</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <option></option>
                        </select>
                        <div style="display: table;" align="center" class="center-block text-center">
                            <div id="searchCountries" class="searchCountries"
                                 style="width: 300px; margin-bottom: 20px; display: table-cell;">
                                <ng-select [data]="countriesValue"
                                           [multiple]="true"
                                           [items]="countriesArray"
                                           [disabled]="disabled"
                                           (data)="refreshCountries($event)"
                                           (selected)="selectedCountry($event)"
                                           (removed)="removedCountry($event)"
                                           placeholder="no country selected"></ng-select>
                            </div>
                            <input type="text" [(ngModel)]="searchModel.cities" id="searchCities"
                                   style="width: 300px; margin-left: 4px; margin-top: 5px; display: table-cell;"
                                   placeholder="search for cities"/>
                        </div>
                        <button type="submit" class="btn btn-default btn-submit btn-small">Search</button>
                    </form>
                </div>
                <ul class="format-filter text-center">
                </ul>
            </div>
            <div class="container center-block text-center">
                <div class="row">

                    <div class="col-md-5 center-block" style="float: inherit;" *ngFor="let trip of trips;let i=index">
                        <div class="trip-card">
                            <img class="route"
                                 src="https://blog.gerbenjacobs.nl/img/blog/scandinavia/scandinavian-roadtrip-route.png"/>
                            <div class="trip-card-details">
                                <div class="trip-card-header seperatorSection">
                                    <h1> {{trip.title}} </h1>
                                    <h3> #{{trip.tags.join('# ')}}# </h3>
                                </div>
                                <div class="trip-card-detail">
                                    <img src="{{trip.owner?.imageURL}}" class="cropcircle"/>

                                    <div id="tripDurationDate">
                                        <p><b>{{trip.dateFrom | date:'dd/MM/yyyy'}}</b>&emsp;&mdash;&emsp;<b>{{trip.dateTo
                                            | date:'dd/MM/yyyy'}}</b></p>
                                    </div>
                                    <div *ngIf="trip.budget" id="tripBudget">
                                        <p>Budget:&emsp;<b>{{trip.budget}}</b></p>
                                    </div>
                                    <div *ngIf="trip.cities" id="tripCities">
                                        <p>Cities:&emsp;<b>{{trip.cities.join(', ')}}</b></p>
                                    </div>
                                    <div *ngIf="trip.countries" id="tripCountries" class="seperatorSection">
                                        <p>Countries:&emsp;<b>{{trip.countries.join(', ')}}</b></p>
                                    </div>
                                    <div id="tripDescription" class="seperatorSection">
                                        <h4>Summary</h4>
                                        <p>{{trip.description}}</p>
                                    </div>

                                    <div *ngIf="trip.pictures?.length > 0" style="height: auto">
                                        <span>checkout pictures of the trip&emsp;</span>
                                        <button type="button" class="btn-link"(click)="pictureModal.show()" title="show pics">
                                            <span class="glyphicon glyphicon-picture show-pic-button"></span>
                                        </button>
                                        <div bsModal #pictureModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog center-block" id="pictureModal">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" (click)="pictureModal.hide()" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title">pictures of {{trip.title}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="imageContainer" *ngFor="let pic of trip.pictures" >
                                                            <img src="{{pic.src}}" alt="{{pic.name}}" style="width:100%;height: 100%;" class="img-thumbnail"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <trip-rating [rating]='trip.rating'
                                             [itemId]='trip.id'
                                             (ratingClick)='ratingComponetClick($event, trip)'>
                                </trip-rating>
                                <div *ngIf="trip.rating" id="tripRating" style="float: inherit">
                                    <p>{{ratingLabel}} users voted, average: {{trip.rating}} stars</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <button id="loadMoreTripsButton" type="button" class="btn btn-primary" (click)="loadMoreTrips()">
                    load more trips ...
                </button>
                </div>
                </div>
            </div>
        </div>
</section>