.body {
    background-image: url("/UI/assets/images/art/bg5.jpg");
    background-repeat: repeat-y;
}

.search_box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.format-filter {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.filter:before,
.format-filter:before {
    border-bottom: 1px solid #0F6660;
}

.btn-submit {
    width: 300px;
    margin-top: 5px;
}

.selectableList {
    background-color: #eff2f5;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.trip-card {
    -webkit-box-shadow: 1px -1px 13px 5px rgba(150, 144, 150, 0.61);
    -moz-box-shadow: 1px -1px 13px 5px rgba(150, 144, 150, 0.61);
    box-shadow: 1px -1px 13px 5px rgba(150, 144, 150, 0.61);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 0px;
    position: relative;
    font-family: inherit;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #FFF;
    color:grey;
}

.route {
    padding: 20px;
    margin-bottom: 70px;
    width: inherit;
    height: inherit;
}

.trip-card .trip-card-details,
.trip-card .trip-card-details .trip-card-header {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.trip-card .trip-card-details::-webkit-scrollbar {
    width: 8px;
}

.trip-card .trip-card-details::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
}

.trip-card .trip-card-details::-webkit-scrollbar-track {
    background: transparent;
}

.trip-card .trip-card-details::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
}

.trip-card .trip-card-details::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);
}

.trip-card .trip-card-details .trip-card-header {
    height: auto;
    bottom: 100%;
    padding: 10px 5px;
}

.trip-card:hover .trip-card-details {
    bottom: 0px;
    overflow-x: hidden;
    padding-bottom: 25px;
}

.trip-card:hover .trip-card-details .trip-card-header {
    position: relative;
    bottom: 0px;
    padding-top: 45px;
    padding-bottom: 25px;
}

.trip-card .trip-card-details .trip-card-header h1 {
    color: #052421;
    font-size: 22px;
    trip-card-detail    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
}

.trip-card .trip-card-details .trip-card-header h3 {
    color: #FF6485;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
}

.trip-card .trip-card-details .trip-card-header h3 {
    /*color: #0F6660;*/
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}

.trip-card .trip-card-details .trip-card-header h4 {
    color: #FF6485;
}

.trip-card .trip-card-details .trip-card-header h4 {
    color: #0F6660;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.trip-card .trip-card-details .trip-card-header {
    color: #083330;
    font-size: 13px;
    font-weight: 200;
    margin-top: 5px;
}

.trip-card-detail h4 {
    color: #FF6485;

}

.trip-card-detail span{
    font-weight: 500;
    color: grey;
}

.trip-card-detail span:hover{
    font-weight: 500;
    color: #FF6485;
}



.route {
    padding: 20px;
    margin-bottom: 70px;
    width: inherit;
    height: inherit;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#tripDurationDate, #tripBudget, #tripDescription {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tripDurationDate {
    margin-top: 15px;
}

#tripDescription h4 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.trip-card p {
    font-size: 15px;
}

#tripDurationDate, #tripBudget, #tripDescription, #tripCities, #tripCountries {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.seperatorSection{
    margin-bottom: 15px;
    border-bottom: 1px dotted gray;
    padding-bottom: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#imageCarousel {
    margin-top: 30px;
}

.carousel-control {
    top: 50%;
    width: auto;
    height: 1em;
    background: transparent;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: static;
    display: block;
    width: auto;
    color: #0F6660;
}

.carousel-control .glyphicon-chevron-left:before {
    margin-left:0;
}


.modal-body {
    padding: 20px;
    bottom:0;
    width: inherit;
}
#pictureModal .modal-content {
    width: 50% auto;
}

#pictureModal .modal-body {
    padding: 20px;
    margin-top: 0px;
    bottom: 0px;
    width: inherit;
    height: auto;
}
#pictureModal {
    height: auto;
    min-height: 500px;
    top: 60px;
}
/*
    margin-left: 0;
}*/

.row {
    width: auto;
}

@media (max-width: 991px) {
    .trip-card{
        width: 80%;
    }
    .route {
        padding: 30px;
        margin-bottom: 70px;
    }
}
