<section id="trip" class="light-bg img-bg-softer search-section"
         style="background-image: url(/UI/assets/images/art/skyline-buildings-new-york-skyscrapers.jpg);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Create a new trip</h4>
            </div>
            <div class="modal-body">
                <form #tripCreationForm="ngForm" (ngSubmit)="createTrip()">
                    <fieldset class="form-group">
                        <label for="title">Title</label>
                        <input [(ngModel)]="tripModel.title" type="text" class="form-control" id="title" placeholder="Enter a title">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="budget">Budget</label>
                        <input [(ngModel)]="tripModel.budget" type="number" class="form-control" id="budget" placeholder="How much did you spend?">
                    </fieldset>
                    <script type="text/javascript">
                        $(".js-example-basic-multiple").select2();
                    </script>
                    <fieldset class="form-group">
                        <label for="route">Route</label>
                        <input [(ngModel)]="tripModel.route" type="url" name="route" id="route" placeholder="Paste the link to your route in here"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="route">Tags</label>
                        <input [(ngModel)]="tripModel.tags" type="text" name="tags" id="tags" placeholder="Enter tags separated by spaces"/>
                    </fieldset>
                    <div class="form-group center-block">
                        <label>Duration</label>
                        <br/>
                        <fieldset class="form-group">
                            <input [(ngModel)]="tripModel.dateFrom" type="date" id="dateFrom" style="width: 200px">
                            <input [(ngModel)]="tripModel.dateTo" type="date" id="dateTo" style="width: 200px">
                        </fieldset>
                    </div>
                    <fieldset class="form-group">
                        <label for="description">Description</label>
                        <textarea [(ngModel)]="tripModel.description" class="summary" name="textarea" id="description" placeholder="Describe your trip ..."
                                  style="height: 60px"></textarea>
                    </fieldset>
                    <fieldset>
                        <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!tripCreationForm.form.valid" name="submit" value="Submit">Submit
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
