#trip {
    background-image: url("/UI/assets/images/art/bg6.jpg");
    background-repeat: repeat;
    height: 1100px;
}

#trip .modal-content {
    width: 50% auto;
}

#trip .modal-body {
    padding: 20px;
    margin-top: 0px;
    bottom: 0px;
    width: inherit;
    height: auto;
}



div.polaroid {
    position: relative;
    margin-right:10px;
    float: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
}

div.imageContainer {
    text-align: center;
}