.modal-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    bottom: 10px;
    top: 10px;
    right:10px;
    left: 10px;
    width: 50% auto;
    height: min 500px;
}

.modal-body {
    padding: 20px;
    bottom: 60px;
    top: 60px;
    width: inherit;
    height: inherit;
}
