<section id="trip" class="light-bg img-bg-softer center-block create-trip body">
    <h1 class="center-block text-center" style="width: 50%; margin-left: auto; margin-right: auto; color: #052421">Share</h1>
    <br/>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Create a new trip</h4>
            </div>
            <div class="modal-body">
                <form #tripCreationForm="ngForm" (ngSubmit)="createTrip()">
                    <fieldset class="form-group">
                        <label for="title">Title</label>
                        <input [(ngModel)]="tripModel.title" ngControl="title" #title="ngForm" required type="text" class="form-control" id="title"
                               placeholder="Enter a title">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="budget">Budget</label>
                        <br/>
                        <input [(ngModel)]="tripModel.budget" ngControl="budget" type="number" class="form-control" id="budget"
                               placeholder="How much did you spend?"style="width: 80%"><span>EUR</span>
                    </fieldset>
                    <script type="text/javascript">
                        $(".js-example-basic-multiple").select2();
                    </script>

                    <!--
                    <fieldset class="form-group">
                        <label for="route">Route</label>
                        <input [(ngModel)]="tripModel.route" type="url" name="route" id="route" ngControl="route" #route="ngForm" required
                               placeholder="Paste the link to your route in here"/>
                    </fieldset>
                    !-->
                    <div class="form-group" style="font-size: 12px">
                        <label for="routeInput">Upload a picture of your route map</label>
                        <input type="file" id="routeInput" (change)="uploadTripPic(inputPic)" #inputPic placeholder="Upload Route Pic" />
                        <div class="imagePreview" *ngIf="routePic">
                                <div class="imageContainer">
                                    <button type="button" id="remove-button-1" (click)="removeTripPic()" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <img src="{{routePic.src}}" alt="{{routePic.name}}" style="max-width: 100%;
                                    max-height: 100%" class="img-thumbnail image-center"/>
                                </div>
                        </div>
                    </div>



                    <fieldset class="form-group">
                        <label for="tags">Tags</label>
                        <tag-input
                                placeholder="Enter tags (min 1)"
                                [(ngModel)]="tripModel.tags"
                                delimiterCode="188" max="5" ngControl="tags" #tags="ngForm" required name="tags" id="tags">
                        </tag-input>
                    </fieldset>

                    <div class="form-group center-block">
                        <label>Duration</label>
                        <br/>
                        <fieldset class="form-group">
                            <input [(ngModel)]="tripModel.dateFrom" type="date" id="dateFrom" ngControl="dateFrom" #dateFrom="ngForm" required style="width: 200px">
                            <input [(ngModel)]="tripModel.dateTo" type="date" id="dateTo" ngControl="dateTo" #dateTo="ngForm" required style="width: 200px">
                        </fieldset>
                    </div>
                    <fieldset class="form-group">
                        <label for="countries">Countries</label>
                    <div id="countries" name="countries" id="countries"  style="margin-bottom: 20px;">
                        <ng-select [data]="countriesValue"
                                   [multiple]="true"
                                   [items]="countriesArray"
                                   [disabled]="disabled"
                                   (data)="refreshCountries($event)"
                                   (selected)="selectedCountry($event)"
                                   (removed)="removedCountry($event)"
                                   placeholder="no country selected" required></ng-select>
                    </div>
                        </fieldset>
                    <fieldset class="form-group">
                        <label for="cities">Cities</label>
                        <tag-input id="cities"
                                placeholder="Enter cities you have visited"
                                [(ngModel)]="tripModel.cities"
                                delimiterCode="188" ngControl="cities" #cities="ngForm" required>
                        </tag-input>

                    </fieldset>

                    <fieldset class="form-group">
                        <label for="description">Description</label>
                        <textarea [(ngModel)]="tripModel.description" class="summary" name="textarea" id="description"
                                  placeholder="Describe your trip" ngControl="descr" #descr="ngForm" required
                                  style="height: 60px"></textarea>
                    </fieldset>
                    <div class="form-group" style="font-size: 12px">
                        <input type="file" (change)="uploadfile(input)" #input placeholder="Upload file..." />
                    <div class="imagePreview" *ngIf="pictures">
                        <div class="polaroid" *ngFor="let picture of pictures; let i=index">
                            <div class="imageContainer">
                                <button type="button" id="remove-button" (click)="removePic(i)" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <img src="{{picture.src}}" alt="{{picture.name}}" style="max-width: 100%;
                                    max-height: 100%" class="img-thumbnail image-center"/>
                            </div>
                        </div>
                    </div>
                    </div>
                        <button type="submit" class="btn btn-block"
                                [disabled]="!tripCreationForm.form.valid" name="submit" value="Submit">Submit
                        </button>
                </form>
            </div>
        </div>
    </div>
</section>
