#trip {
    background-image: url("/UI/assets/images/art/bg6.jpg");
    background-repeat: repeat;
    height: 1100px;
}

#trip .modal-content {
    width: 50% auto;
}

#trip .modal-body {
    padding: 20px;
    margin-top: 0px;
    bottom: 0px;
    width: inherit;
    height: auto;
}

#remove-button{
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    z-index: 1;
    font-size: 10px;
}


div.polaroid {
    position: relative;
    margin-right:10px;
    margin-top:5px;
    float: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
}

div.imagePreview{
    margin:5px 0;
}

div.imageContainer {
    text-align: center;
}


.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}